.link-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    transition: 200ms;
}

.link-icon:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-bg-opacity));
    background: #b8b8b813;
}

.link-icon--active {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.link-icon > span {
    flex: 1;
}
